/* CSS Variables */
:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  }
  
  html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
  }
  
  body {
    background: black;
    margin: 30px 50px;
    line-height: 1.4;
  }
     
  /* Navigation */
  .main-nav ul {
    display: grid;
    grid-gap: 50px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
  }
  
  .main-nav a {
    background: var(--primary);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
  }
  
  .main-nav a:hover {
    background: var(--dark);
    color: var(--light);
  }
  
  /* Footer */
  footer{
    background: #111;
    height: auto;
    width: 93vw;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }
  
  .footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  
  .footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
  }
  
  .footer-content p{
    max-width: 500px;
    margin: 10px auto;
    font-size: 14px;
  }
  
  .socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
  }
  
  .socials li{
    margin: 0 10px;
  }
  
  .socials a{
    text-decoration: none;
    color: white;
  }
  
  .socials a li{
    font-size: 1.1rem;
    transition: color .4s ease;
  }
  
  .socials a:hover i{
    color: aqua;
  }
  
  .footer-bottom{
    background: black;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
  }
  
  .footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
  }
  
  
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  img{
    width: 50%;
  }
  
  .single-product{
    margin-top: 80px;
  }
  
  .single-product .col-2 img{
  padding: 0;
  }
  
  .single-product .col-2{
    padding: 20px;
    color: white;
  }
  
  .single-product .col-2 h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
  }
  
  .single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
  }
  
  input:focus{
    outline: none;
  }
  
  button{
    background: none;
    color: #ccc;
    width: 200px;
    height: 80px;
    border: 1px solid #338033;
    font-size: 18px;
    border-radius: 4px;
    transition: .6s;
    overflow: hidden;
  }
  
  button:focus{
     outline: none;
  }
  
  button:before{
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255,255,.5);
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.5;
    filter: blur(30px);
    transform: translateX(-130px) skewX(-15deg);
  }
  
  button:after{
    content: '';
    display: block;
    position: absolute;
    width: 30px;
    height: 100px;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(30px);
    
  }
  
  button:hover{
    background: #338033;
    cursor: pointer;
  }
  
  button:hover:before{
    transform: translateX(300px) skewX(-15deg);
    opacity: 0.6;
    transition: .7s;
  }
  
  button:hover:after{
    transform: translateX(300px) skewX(-15deg);
    opacity: 1;
    transition: .7s;
  }
  
  .single-product .fa{
    margin-left: 10px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }
  
  .title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 80px;
    color: white;
  }
  
  .title::after{
    content: '';
    background: white;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Media Queries */
  @media (max-width: 700px) {
   
    .main-nav ul {
      grid-template-columns: 1fr;
    }
  
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }
  
  
  
  